//componets

.main-title {
  color: #303030;
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 2rem;
  margin-top: 2rem;
  font-family: 'Relative Bold', Arial, sans-serif;
  font-weight: 400;
  text-decoration: none;
}

.main-link {

  text: {
    decoration: none;
    overflow: ellipsis;
  }
  font: {
    weight: 400;
    family: 'Relative Medium', Arial, sans-serif;
    size: 25px;
  }
  border-bottom: 0px solid #ffffff;
  color: #303030;
  margin-left: -20px;
  white-space: nowrap;
  cursor: pointer;
}

.animated::before {
  background-color: #fff;
  bottom: -.55556rem;
  //bottom: -.27778rem;
  content: '';
  height: 3px;
  left: -20px;
  margin: auto;
  //margin-left: -20px;
  position: absolute;
  right: 0;
  transition: .2s ease-in-out;
  width: 0
}

.animated:hover::before {
  transition: .2s ease-in-out;
  width: 64px;
}

//landing

body {
  margin: 0;
  background: white;
  box-sizing: inherit;
  .menu {
    height: 100vh;
    width: 100%;
    z-index: 999999;
    position: fixed;
    background: rgba(0, 0, 0, 0.8);
    overflow: hidden;
    display: none;
    .menu-close {
      border: none;
      background: transparent;
      font-size: 65px;
      float: right;
      //margin-top: 15px;
      //margin-right: 30px;
      position: absolute;
      right: 1%;
      z-index: 99999999;
      svg {
        color: white;
      }

    }
    ul {
      list-style-type: none;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: stretch;
      height: 60vh;
      li {
        text-align: center;
        a {
          font-size: 50px;
          color: white;
        }

      }
    }
  }
  & .active {
    display: block;
  }
  .header-site {
    height: 86px;
    width: 100%;
    position: fixed;
    background: rgba(255, 255, 255, 0.5);
    z-index: 10000;
    .header-site-content {
      .header-site-content-logo {
        float: left;
        width: 250px;
        img{
          width: 250px;
        }
      }
      .header-site-content-media-menu {
        border: none;
        background: transparent;

        float: right;
        margin-top: 15px;
        margin-right: 30px;
        .header-site-content-media-menu-button{
          border: none;
          background: transparent;
          font-size: 55px;
          svg {
            color: #303030;
          }
        }

      }
      .header-site-content-menu {
        float: right;
        margin-right: 15px;
        ul {
          li {
            float: left;
            margin-left: 55px;
            display: block;
            margin-top: 15px;
            transition: .3s;
            //a:[href=''] {
            //
            //}
          }
          li:first-child > a {
            border-bottom: 3px solid #303030;
            padding-bottom: 7px;
          }
          li:hover {
            margin-top: 11px;
          }
        }
      }
    }
  }

  .content {
    .content-container {
      height: 70vh;
      width: 100%;
      background: white;
    }
    & .head {
      div#anchor{
        position: absolute;
        top: 30%;
        left: 25%;
        h1 {
          color: #303030;
          position: absolute;
          font-size: 90px;
          font-weight: 600;
        }
        a{
          text-decoration: none;
          color: #303030;
          font-size: 60px;
          position: absolute;
          padding-top: 200px;
        }
      }
    }
    & .background {
      background: {
        image: url('../content/img/company.jpg');
        size: cover;
        repeat: no-repeat;
        attachment: fixed;
      }
    }
    & .spreadsheet {
      height: auto;
      table {
        width: 1000px;
        margin: 70px auto 0;
        border: 2px solid #303030;
        border-radius: 5px;
        background: #303030;
        font: {
          family: "Roboto", sans-serif;

        }
        tbody{
          background: white;
          tr{
            th{
              background: #303030;
              color: white;
            }
            td{
              padding-left: 15px;
            }
          }
        }
        p{

        }
      }
    }
    .spreadsheet>p{
      width: auto;
      padding:0 30px;
      text-align: center;
      font: {
        family: "Relative Bold", sans-serif;
        size: 16px;
        weight: 500;
      }
      letter-spacing: 1px;
      line-height: 30px;
    }

  }

  .footer-site {
    height: auto;
    z-index: 100;
    background: #303030;
    box-sizing: border-box;
    color: #e5ddd9;
    padding-bottom: 1.11111rem;
    padding-top: 3.33333rem;
    text-align: left;
    width: 100%;
    .footer-site-logo {
      margin: 30px auto 0;
      text-align: center;
      p {
        color: rgba(232, 230, 229, .5);
      }
      img{
        width: 250px;
      }
    }
    .footer-site-contact {
      margin-bottom: 140px;
      div {
        width: 33.3333%;
        height: 20px;
        background: transparent ;
        float: left;
        p{
          color: rgba(232, 230, 229, .5);
          text-align: center;
          line-height: 22px;
        }
        a {
          display: inline-block;
          color: rgba(232, 230, 229, .5);
          //display: none;
          font-weight: 400;
          font-family: 'Relative Medium', Arial, sans-serif;
          font-size: 20px;
          text-decoration: none;
        }
      }
      .footer-site-contact-email {
        a{
          margin-left: 50px;
          margin-top: 45px;
        }
        a:hover{
          color: #ff3750;
          text-decoration: underline  ;
        }
      }
      .footer-site-contact-social{
        display: flex;
        justify-content: center;
        div{
          width: 300px;
          display: flex;
          justify-content: space-around;
          a{
            float: left;
            font:{
              size: 25px;
            }
          }
          a:hover{
            color: #ff3750;
          }
        }

      }
      .footer-site-contact-phone{
        div{
          margin-right: 50px;
          float: right;
          width: auto;
          a{
            float: right;
            text-align: left;
            width: 250px;
            //margin: 8px 0;
            margin-top:45px ;
          }
          a:hover{
            color: #ff3750;
            text-decoration: underline  ;
          }
        }
      }
    }
    .footer-site-license{
      width: 100%;
      display: flex;
      justify-content: center;
      margin-bottom: 40px;
      div{
        display: flex;
        width: 600px;
        justify-content: space-around;
        p, a{
          float: left;
          font-size: 14px;
          font-family: 'Relative Medium', Arial, sans-serif;
          color: rgba(232, 230, 229, .5);
          text-align: center;
          margin: 0;
          text-decoration: none;
        }
        a:first-child::after{
          border-left:1px solid rgba(232, 230, 229, .5);
        }

      }

    }
    .footer-site-bottom{
      text-align: center;
      font-size: 14px;
      font-family: 'Relative Medium', Arial, sans-serif;
      color: rgba(232, 230, 229, .5);
      margin-bottom: 40px;
    }
  }
}

::-webkit-scrollbar{
  width: 0px;
}

//media

@media (min-width: 1500px){
  body{
    header {
      .header-site-content-media-menu {
        display: none;
      }
    }
  }

}

@media (min-width: 1200px) and (max-width: 1499px){
  body{
    header {
      .header-site-content-media-menu {
        display: none;
      }
    }
  }

}

@media (min-width: 992px) and (max-width: 1199px){
  body{

      header {
        .header-site-content-media-menu {
          display: none;
        }
      }
    .content{
      .spreadsheet{
        table{
          width: 900px!important;
        }
        //p{
        //  width: 900px!important;
        //}
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 992px){
  body{
    header {

      .header-site-content{
        .header-site-content-logo{
          .main-title{
            font-size: 75px !important;
          }
        }
        .header-site-content-media-menu {
          display: block;
          button{
            font-size: 55px !important;
          }

        }
        .header-site-content-menu {
          display: none;
        }
      }

    }
    .content{
      .spreadsheet{
        table{
          width: 750px!important;
        }
      }
      .spreadsheet>p{
        text-align: justify;
      }
    }
    footer {
      padding-top: 10px !important;

      .footer-site-contact {
        width: 100% !important;
        float: none;
        display: flex;
        flex-direction: column;
        align-content: center;
        margin-bottom: 70px !important;
        div {
          margin: 20px auto;
        }
      }
      .footer-site-license {
        margin-bottom: 0 !important;
        div {
          flex-direction: column;
          a {
            margin: 15px auto !important;
          }
        }
      }

      .footer-site-bottom {
        margin-bottom: 10px !important;
      }
    }

  }
}

@media (min-width: 540px) and (max-width: 768px){
  body{
    header {
      .header-site-content{
        .header-site-content-logo{
          .main-title{
            font-size: 50px !important;
          }
        }
        .header-site-content-media-menu {
          display: block;
          button{
            font-size: 45px !important;
          }

        }
        .header-site-content-menu {
          display: none;
        }
      }
    }
    .content{
      .spreadsheet{
        table{
          width: 530px!important;
        }
      }
      .spreadsheet>p{
        text-align: justify;
      }

    }

      footer {
        .footer-site-contact{
          width: 100% !important;
          float: none;
          display: flex;
          flex-direction: column;
          align-content: center;
          margin-bottom: 70px !important;
          div{
            margin: 20px auto;
          }
          .footer-site-contact-email{
            margin: 0 auto;
            text-align: center;
            a{
              margin-top: 0 !important;
              margin-left: 0 !important;

            }

          }
          .footer-site-contact-phone{
            width: 42% !important;
            float: none;
            div{
              margin-right: 0!important;
              float: none !important;
              display: flex;
              justify-content: center;
              a{
                text-align: center !important;
                float: none !important;
              }
            }
          }
        }
      }

  }
}

@media (max-width: 540px) {
  body{
    .menu{
      .menu-close{
        font-size: 40px !important;
        right: 0 !important;
      }
      ul{

        li{
          a{
            font-size: 40px !important;
          }
        }

      }
    }
    header {
      .header-site-content{
        .header-site-content-logo{
          .main-title{
            font-size: 50px !important;
          }
          img {
            width: 200px !important;
            position: absolute;
            left: 50%;
            margin-left: -100px;
            margin-top: 0 !important;
          }
        }
        .header-site-content-media-menu {

          margin-right: 2px !important;
          margin-top: 2px !important;
          display: block;
          button{
            margin-top: 15px !important;
            font-size: 40px !important;
          }

        }
        .header-site-content-menu {
          display: none;
        }
      }
    }
    .content{
      .head{
        #anchor{
          h1{
            font-size: 50px!important;
          }
        }
      }
      .background{
        background-attachment: scroll !important;
      }
      .spreadsheet{
        height: auto;
        table{
          width: 320px!important;
          font-size: 9px !important;
          td{
            //word-break: break-word;
            padding: 0!important;
          }
        }
        //p{width: 320px!important;}

      }
      .spreadsheet>p{
        text-align: justify;
        width: 300px!important;
        margin: auto;
      }
    }
    footer {
      padding-top: 10px !important;

      .footer-site-contact {
        width: 100% !important;
        float: none;
        display: flex;
        flex-direction: column;
        align-content: center;
        margin-bottom: 70px !important;
        div {
          margin: 20px auto;
        }
      }
      .footer-site-license {
        margin-bottom: 0 !important;
        div {
          flex-direction: column;
          a {
            margin: 15px auto !important;
          }
        }
      }

      .footer-site-bottom {
        margin-bottom: 10px !important;
      }
    }
  }
}