//componets

.main-title {
  color: #303030;
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 2rem;
  margin-top: 2rem;
  font-family: 'Relative Bold', Arial, sans-serif;
  font-weight: 400;
  text-decoration: none;
}

.main-link {

  text: {
    decoration: none;
    overflow: ellipsis;
  }
  font: {
    weight: 400;
    family: 'Relative Medium', Arial, sans-serif;
    size: 25px;
  }
  border-bottom: 0px solid #ffffff;
  color: #303030;
  margin-left: -20px;
  white-space: nowrap;
  cursor: pointer;
}

.animated::before {
  background-color: #fff;
  bottom: -.55556rem;
  //bottom: -.27778rem;
  content: '';
  height: 3px;
  left: -20px;
  margin: auto;
  //margin-left: -20px;
  position: absolute;
  right: 0;
  transition: .2s ease-in-out;
  width: 0
}

.animated:hover::before {
  transition: .2s ease-in-out;
  width: 64px;
}

//landing

body {
  margin: 0;
  background: white;
  box-sizing: inherit;
  .menu {
    height: 100vh;
    width: 100%;
    z-index: 999999;
    position: fixed;
    background: rgba(0, 0, 0, 0.8);
    overflow: hidden;
    display: none;
    .menu-close {
      border: none;
      background: transparent;
      font-size: 65px;
      float: right;
      //margin-top: 15px;
      //margin-right: 30px;
      position: absolute;
      right: 1%;
      z-index: 99999999;
      svg {
        color: white;
      }

    }
    ul {
      list-style-type: none;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: stretch;
      height: 100vh;
      li {
        text-align: center;
        a {
          font-size: 60px;
          color: white;
        }

      }
    }
  }
  & .active {
    display: block;
  }
  .header-site {
    height: 86px;
    width: 100%;
    position: fixed;
    background: transparent;
    z-index: 10000;
    .header-site-content {
      .header-site-content-logo {
        float: left;
      }
      .header-site-content-media-menu {
        border: none;
        background: transparent;

        float: right;
        margin-top: 15px;
        margin-right: 30px;
        .header-site-content-media-menu-button {
          border: none;
          background: transparent;
          font-size: 55px;
          svg {
            color: #303030;
          }
        }

      }
      .header-site-content-menu {
        float: right;
        margin-right: 15px;
        ul {
          li {
            float: left;
            margin-left: 55px;
            display: block;
            margin-top: 15px;
            transition: .3s;
            //a:[href=''] {
            //
            //}
          }
          li:nth-child(4) > a {
            border-bottom: 3px solid #303030;
            padding-bottom: 7px;
          }
          li:hover {
            margin-top: 11px;
          }
        }
      }
    }
  }

  .content {
    .content-container {
      height: 70vh;
      width: 100%;
      background: white;
    }
    & .head {
      div#anchor {
        position: absolute;
        top: 30%;
        left: 25%;
        width: 415px;
        h1 {
          color: #303030;
          position: absolute;
          font-size: 90px;
          font-weight: 600;

        }
        a {
          text-decoration: none;
          color: #303030;
          font-size: 60px;
          position: absolute;
          padding-top: 200px;
        }
      }
    }
    & .background {
      background: {
        image: url('../content/img/contacts.jpg');
        size: cover;
        repeat: no-repeat;
        attachment: fixed;
      }
    }
    & .about {
      height: 1000px;
      div {
        margin-top: 80px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        div {
          margin-top: 0px;
          display: flex;
          flex-direction: column;
          //justify-content: center;
          form {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            input {
              margin: 20px auto;
              border: none;
              border-bottom: 2px solid #303030;
              //border-radius: 5px;
              width: 400px;
              height: 40px;
              padding: 7px;
              font-size: 23px;
            }
            input:focus {
              outline: none;
            }
            input.form_title {
              margin: 20px 0 0;
              border: 2px solid #303030;
              border-radius: 5px;
              border-bottom-left-radius: 0px;
              border-bottom-right-radius: 0px;
              padding: 7px 0 7px 14px;
            }
            input[type=submit] {
              border: 2px solid #303030;
              border-radius: 5px;
              width: 418px;
              color: #303030;
              line-height: 10px;
              height: 53px;
            }
            input[type=submit]:hover {
              background: #ff3750;
              border: 2px solid #ffffff;
              color: #fff;
            }
            input[type=number]::-webkit-inner-spin-button,
            input[type=number]::-webkit-outer-spin-button {
              -webkit-appearance: none;
              margin: 0;
            }
            textarea {
              width: 418px;
              box-sizing: border-box;
              outline: none;
              resize: none;
              //margin-top: 20px;
              //border:1px solid #303030;
              border: 2px solid #303030;
              border-top: none;
              border-bottom-left-radius: 5px;
              border-bottom-right-radius: 5px;
              padding: 10px 14px;
              font-size: 23px;
            }
            textarea::placeholder, input::placeholder {
              vertical-align: center;
            }
          }
          p, h6, a {
            display: block;
            //width: 1000px;
            //margin: 50px auto;
            text-align: center;
            font: {
              family: "Relative Bold", sans-serif;
              size: 16px;
              weight: 500;
            }
            letter-spacing: 1px;
            line-height: 30px;
            text-decoration: none;
            color: #303030;
          }
          p {
            line-height: 25px;
            margin-bottom: 0px;
          }
          a {
            line-height: 1px;
            margin-bottom: 40px;
            font: {
              size: 25px;
              weight: 600;
            }
            color: #ff3750;
          }
          a:hover {
            text-decoration: underline;
          }
        }

      }

    }

  }

}

.footer-site {
  height: auto;
  z-index: 100;
  background: #303030;
  box-sizing: border-box;
  color: #e5ddd9;
  padding-bottom: 1.11111rem;
  padding-top: 3.33333rem;
  text-align: left;
  width: 100%;
  .footer-site-logo {
    margin: 30px auto 0;
    text-align: center;
    p {
      color: rgba(232, 230, 229, .5);
    }
  }
  .footer-site-contact {
    margin-bottom: 140px;
    div {
      width: 33.3333%;
      height: 20px;
      background: transparent;
      float: left;
      p {
        color: rgba(232, 230, 229, .5);
        text-align: center;
        line-height: 22px;
      }
      a {
        display: inline-block;
        color: rgba(232, 230, 229, .5);
        //display: none;
        font-weight: 400;
        font-family: 'Relative Medium', Arial, sans-serif;
        font-size: 20px;
        text-decoration: none;
      }
    }
    .footer-site-contact-email {
      a {
        margin-left: 50px;
        margin-top: 45px;
      }
      a:hover {
        color: #ff3750;
        text-decoration: underline;
      }
    }
    .footer-site-contact-social {
      display: flex;
      justify-content: center;
      div {
        width: 300px;
        display: flex;
        justify-content: space-around;
        a {
          float: left;
          font: {
            size: 25px;
          }
        }
        a:hover {
          color: #ff3750;
        }
      }

    }
    .footer-site-contact-phone {
      div {
        margin-right: 50px;
        float: right;
        width: auto;
        a {
          float: right;
          text-align: left;
          width: 250px;
          //margin: 8px 0;
          margin-top: 45px;
        }
        a:hover {
          color: #ff3750;
          text-decoration: underline;
        }
      }
    }
  }
  .footer-site-license {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    div {
      display: flex;
      width: 600px;
      justify-content: space-around;
      p, a {
        float: left;
        font-size: 14px;
        font-family: 'Relative Medium', Arial, sans-serif;
        color: rgba(232, 230, 229, .5);
        text-align: center;
        margin: 0;
        text-decoration: none;
      }
      a:first-child::after {
        border-left: 1px solid rgba(232, 230, 229, .5);
      }

    }

  }
  .footer-site-bottom {
    text-align: center;
    font-size: 14px;
    font-family: 'Relative Medium', Arial, sans-serif;
    color: rgba(232, 230, 229, .5);
    margin-bottom: 40px;
  }
}

::-webkit-scrollbar {
  width: 0px;
}

//media
@media (min-width: 1500px) {
  body {
    header {
      .header-site-content-media-menu {
        display: none;
      }
    }
  }

}

@media (min-width: 1200px) and (max-width: 1499px) {
  body {
    header {
      .header-site-content-media-menu {
        display: none;
      }
    }
  }

}

@media (min-width: 992px) and (max-width: 1199px) {
  body {

    header {
      .header-site-content-media-menu {
        display: none;
      }
    }

    .content {
      .spreadsheet {
        table {
          width: 900px !important;
        }

      }
    }
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  body {
    header {

      .header-site-content {
        .header-site-content-logo {
          .main-title {
            font-size: 75px !important;
          }
        }
        .header-site-content-media-menu {
          display: block;
          button {
            font-size: 55px !important;
          }

        }
        .header-site-content-menu {
          display: none;
        }
      }

    }
    .content {
      .spreadsheet {
        table {
          width: 750px !important;
        }
        p {
          width: 750px !important;
        }
      }
    }
    footer {
      .footer-site-contact {
        .footer-site-contact-phone {
          div {
            margin-right: 0 !important;
          }
        }
      }
    }

  }
}

@media (min-width: 540px) and (max-width: 768px) {
  body {
    header {
      .header-site-content {
        .header-site-content-logo {
          .main-title {
            font-size: 50px !important;
          }
        }
        .header-site-content-media-menu {
          display: block;
          button {
            font-size: 45px !important;
          }

        }
        .header-site-content-menu {
          display: none;
        }
      }
    }
    .content {
      .head {
        #anchor {
          width: auto !important;
        }
      }

    }

    footer {
      .footer-site-contact {
        width: 100% !important;
        float: none;
        display: flex;
        flex-direction: column;
        align-content: center;
        margin-bottom: 70px !important;
        div {
          margin: 20px auto;
        }
        .footer-site-contact-email {
          margin: 0 auto;
          text-align: center;
          a {
            margin-top: 0 !important;
            margin-left: 0 !important;

          }

        }
        .footer-site-contact-phone {
          width: 42% !important;
          float: none;
          div {
            margin-right: 0 !important;
            float: none !important;
            display: flex;
            justify-content: center;
            a {
              text-align: center !important;
              float: none !important;
            }
          }
        }
      }
    }

  }
}

@media (max-width: 540px) {
  body {
    header {
      .menu {
        .menu-close {
          margin-top: 0px !important;
          margin-right: -2px !important;
        }
      }
      .header-site-content {
        .header-site-content-logo {
          .main-title {
            font-size: 50px !important;
          }
        }
        .header-site-content-media-menu {

          margin-right: 2px !important;
          margin-top: 2px !important;
          display: block;
          button {
            font-size: 45px !important;
          }

        }
        .header-site-content-menu {
          display: none;
        }
      }
    }
    .content {
      .head {
        #anchor {
          width: auto !important;
          top: 20% !important;
          h1 {
            font-size: 50px !important;
          }
        }
      }
      .about {
        height: 700px;
        input, textarea {
          width: 320px !important;
          box-sizing: border-box;
        }
        //textarea {
        //width: 330px;
        //}
      }

    }

    footer {
      .footer-site-contact {
        width: 100% !important;
        float: none;
        display: flex;
        flex-direction: column;
        align-content: center;
        margin-bottom: 70px !important;
        div {
          margin: 20px auto;
        }
        .footer-site-contact-email {
          width: 42% !important;
          margin: 0 auto;
          text-align: center;
          a {
            margin-top: 0 !important;
            margin-left: 0 !important;

          }

        }
        .footer-site-contact-social {
          margin-top: 0;
          margin-bottom: 65px;
        }
        .footer-site-contact-phone {
          width: 42% !important;
          float: none;
          margin-bottom: 55px;
          div {
            margin-right: 0 !important;
            float: none !important;
            display: flex;
            justify-content: center;
            a {
              text-align: center !important;
              float: none !important;
            }
          }
        }
      }
      .footer-site-bottom {
        margin-bottom: 0;
      }
    }
  }
}
