//componets

.main-title {
  color: #303030;
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 2rem;
  margin-top: 2rem;
  font-family: 'Relative Bold', Arial, sans-serif;
  font-weight: 400;
  text-decoration: none;
}

.main-link {

  text: {
    decoration: none;
    overflow: ellipsis;
  }
  font: {
    weight: 400;
    family: 'Relative Medium', Arial, sans-serif;
    size: 25px;
  }
  border-bottom: 0px solid #ffffff;
  color: #303030;
  margin-left: -20px;
  white-space: nowrap;
  cursor: pointer;
}

.animated::before {
  background-color: #fff;
  bottom: -.55556rem;
  //bottom: -.27778rem;
  content: '';
  height: 3px;
  left: -20px;
  margin: auto;
  //margin-left: -20px;
  position: absolute;
  right: 0;
  transition: .2s ease-in-out;
  width: 0
}

.animated:hover::before {
  transition: .2s ease-in-out;
  width: 64px;
}

//landing

body {
  margin: 0;
  background: white;
  box-sizing: inherit;

  .header-site {
    height: 86px;
    width: 100%;
    position: fixed;
    background: transparent;
    z-index: 10000000;
    .header-site-content {
      .header-site-content-logo {
        float: left;
      }
      .header-site-content-menu {
        float: right;
        margin-right: 15px;
        ul {
          li {
            float: left;
            margin-left: 55px;
            display: block;
            margin-top: 15px;
            transition: .3s;
            //a:[href=''] {
            //
            //}
          }
          //li:nth-child(4) > a {
          //  border-bottom: 3px solid #303030;
          //  padding-bottom: 7px;
          //}
          li:hover {
            margin-top: 11px;
          }
        }
      }
    }
  }

  .content {
    .content-container {
      height: 70vh;
      width: 100%;
      background: white;
    }
    & .head {
      div#anchor {
        position: absolute;
        top: 20%;
        left: 25%;
        width: 740px;
        h1 {
          color: #303030;
          position: absolute;
          font-size: 90px;
          font-weight: 600;

        }
        a {
          text-decoration: none;
          color: #303030;
          font-size: 60px;
          position: absolute;
          padding-top: 270px;
        }
      }
    }
    & .background {
      background: {
        image: url('../content/img/forex.jpg');
        size: cover;
        repeat: no-repeat;
        attachment: fixed;
      }
    }
    & .about {
      height: 500px;
      div{
        margin-top: 140px;

        h5 {
          text-align: center;
          font: {
            family: "Open-Sans", sans-serif;
            size: 25px;

          }
        }
        table {
          width: 1000px;
          margin: 70px auto 0;
          border: 2px solid #303030;
          border-radius: 5px;
          background: #303030;
          font: {
            family: "Roboto", sans-serif;

          }
          tbody {
            background: white;
            tr {
              height: 30px;
              th {
                background: #303030;
                color: white;
              }
              td {
                padding-left: 15px;

              }
            }
          }
        }
        p {
          width: 1000px;
          margin: 30px auto;
          font: {
            family: "Roboto", sans-serif;
            size: 16px;
          }
        }
      }


    }

  }

}

.footer-site {
  height: auto;
  z-index: 100;
  background: #303030;
  box-sizing: border-box;
  color: #e5ddd9;
  padding-bottom: 1.11111rem;
  padding-top: 3.33333rem;
  text-align: left;
  width: 100%;
  .footer-site-logo {
    margin: 30px auto 0;
    text-align: center;
    p {
      color: rgba(232, 230, 229, .5);
    }
  }
  .footer-site-contact {
    margin-bottom: 140px;
    div {
      width: 33.3333%;
      height: 20px;
      background: transparent ;
      float: left;
      p{
        color: rgba(232, 230, 229, .5);
        text-align: center;
        line-height: 22px;
      }
      a {
        display: inline-block;
        color: rgba(232, 230, 229, .5);
        //display: none;
        font-weight: 400;
        font-family: 'Relative Medium', Arial, sans-serif;
        font-size: 20px;
        text-decoration: none;
      }
    }
    .footer-site-contact-email {
      a{
        margin-left: 50px;
        margin-top: 45px;
      }
      a:hover{
        color: #ff3750;
        text-decoration: underline  ;
      }
    }
    .footer-site-contact-social{
      display: flex;
      justify-content: center;
      div{
        width: 300px;
        display: flex;
        justify-content: space-around;
        a{
          float: left;
          font:{
            size: 25px;
          }
        }
        a:hover{
          color: #ff3750;
        }
      }

    }
    .footer-site-contact-phone{
      div{
        margin-right: 50px;
        float: right;
        width: auto;
        a{
          float: right;
          text-align: left;
          width: 250px;
          margin-top:45px ;
        }
        a:hover{
          color: #ff3750;
          text-decoration: underline  ;
        }
      }
    }
  }
  .footer-site-license{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    div{
      display: flex;
      width: 600px;
      justify-content: space-around;
      p, a{
        float: left;
        font-size: 14px;
        font-family: 'Relative Medium', Arial, sans-serif;
        color: rgba(232, 230, 229, .5);
        text-align: center;
        margin: 0;
        text-decoration: none;
      }
      a:first-child::after{
        border-left:1px solid rgba(232, 230, 229, .5);
      }

    }

  }
  .footer-site-bottom{
    text-align: center;
    font-size: 14px;
    font-family: 'Relative Medium', Arial, sans-serif;
    color: rgba(232, 230, 229, .5);
    margin-bottom: 40px;
  }
}



::-webkit-scrollbar {
  width: 0px;
}

//media