//componets

.main-title {
  color: #fff;
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 2rem;
  margin-top: 2rem;
  font-family: 'Relative Bold', Arial, sans-serif;
  font-weight: 400;
  text-decoration: none;
}

.main-link {

  text: {
    decoration: none;
    overflow: ellipsis;
  }
  font: {
    weight: 400;
    family: 'Relative Medium', Arial, sans-serif;
    size: 25px;
  }
  border-bottom: 0px solid #ffffff;
  color: white;
  margin-left: -20px;
  white-space: nowrap;
  cursor: pointer;
}

.animated::before {
  background-color: #fff;
  bottom: -.55556rem;
  //bottom: -.27778rem;
  content: '';
  height: 3px;
  left: -20px;
  margin: auto;
  //margin-left: -20px;
  position: absolute;
  right: 0;
  transition: .2s ease-in-out;
  width: 0
}

.animated:hover::before {
  transition: .2s ease-in-out;
  width: 64px;
}

//landing

body {
  margin: 0;
  background: white;
  box-sizing: inherit;
  .menu {
    height: 100vh;
    width: 100%;
    z-index: 99999;
    position: fixed;
    background: rgba(0, 0, 0, 0.8);
    overflow: hidden;
    display: none;
    .menu-close {
      border: none;
      background: transparent;
      font-size: 65px;
      float: right;
      //margin-top: 15px;
      //margin-right: 30px;
      position: absolute;
      right: 1%;
      svg {
        color: white;
      }

    }
    ul {
      list-style-type: none;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: stretch;
      height: 60vh;
      li {
        text-align: center;
        a {
          font-size: 50px;
        }

      }
    }
  }
  & .active {
    display: block;
  }

  .header-site {
    height: 86px;
    width: 100%;
    position: fixed;
    background: transparent;
    z-index: 10000;
    .header-site-content {
      width: 100%;
      .header-site-content-logo {
        float: left;
        width: 250px;
        img {
          width: 250px;
          margin-top: 15px;
        }
      }
      .header-site-content-media-menu {
        border: none;
        background: transparent;

        float: right;
        margin-top: 15px;
        margin-right: 30px;
        .header-site-content-media-menu-button {
          border: none;
          background: transparent;
          font-size: 55px;
          svg {
            color: white;
          }
        }

      }
      .header-site-content-menu {
        float: right;
        margin-right: 15px;
        ul {
          li {
            float: left;
            margin-left: 55px;
            display: block;
            margin-top: 15px;
            transition: .3s;
            a {

            }
          }
          li:hover {
            margin-top: 11px;
          }
        }
      }
    }
  }

  .content {

    .content-container-main {
      height: 100vh;
      overflow: hidden;
      position: relative;
      video {
        height: 100%;
        left: 0;
        object-fit: cover;
        object-position: top center;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 0;
      }
      .content-container-main-background {
        height: 100vh;
        width: 100%;
        position: absolute;
        background: rgba(0, 0, 0, 0.5);
        z-index: 1;

      }
      .content-container-main-content {
        display: table;
        height: 100%;
        margin-bottom: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 2;
        div {
          display: table-cell;
          vertical-align: middle;

          div#anchor {
            margin: 0 auto;
            //max-width: 970px;
            text-align: center;
            width: 100%;
            display: block;
            a {
              text-decoration: none;
              color: white;
              font-size: 60px;
              position: absolute;
              margin-top: 8%;
            }
          }
        }
      }

    }

    .content-container {
      height: 100vh;
      width: 100%;
      position: relative;

      h1 {
        position: absolute;
        top: -65%;
        color: white;
        width: 100%;
        height: 40px;
        text-transform: uppercase;
      }

      .content-container-background {
        height: 100vh;
        width: 100%;
        position: absolute;
        div {
          height: 100%;
          width: 100%;
          background: rgba(0, 0, 0, 0.5);
        }
      }
      & .first-section {
        background: {
          image: url('../content/img/forex.jpg');
          size: cover !important;
          repeat: no-repeat;
          attachment: fixed;
          position: center;
        }
      }
      & .second-section {
        background: {
          image: url('../content/img/psp.jpg');
          size: cover !important;
          repeat: no-repeat;
          attachment: fixed;
          position: center;
        }
      }
      & .third-section {
        background: {
          image: url('../content/img/license.jpg');
          size: cover !important;
          repeat: no-repeat;
          attachment: fixed;
          position: center;

        }
      }
      & .fourth-section {
        background: {
          image: url('../content/img/legal-opinions.jpg');
          size: cover !important;
          repeat: no-repeat;
          attachment: fixed;
          position: center;
        }

      }
      & .fifth-section {
        background: {
          image: url('../content/img/legal-opinions.jpg');
          size: cover;
          repeat: no-repeat;
          attachment: fixed;
        }
      }

      article {
        height: 100vh;
        overflow: hidden;
        position: relative;
        .content-container-block {
          bottom: 0;
          clip: rect(0, auto, auto, 0);
          left: 0;
          margin: 0 auto;
          position: absolute;
          right: 0;
          top: 0;
          height: 100vh;
          z-index: 9999;
          overflow: hidden;
          div {
            -webkit-backface-visibility: hidden;
            -moz-backface-visibility: hidden;
            backface-visibility: hidden;
            bottom: 0;
            //display: absolute;
            margin: auto;
            right: 0;
            text-align: center;
            top: 20%;
            width: 100%;
            position: fixed;
            z-index: 9999;
            height: 210px;
            p {
              color: white;
              text-align: center;
              margin: 50px auto;
              font: {
                family: "Roboto", sans-serif;
                size: 20px;
              }
              word-spacing: 6px;
            }
            a {
              padding: 5px;
              border: 2px solid #ffffff;
            }
            a:hover {
              background: #ff3750;
              border: 2px solid #ff3750;
            }
          }
        }
        & .fourth {
          position: static;
          div {
            position: absolute;
          }
        }
      }

    }

  }

  .footer-site {
    height: auto;
    z-index: 100;
    background: #303030;
    box-sizing: border-box;
    color: #e5ddd9;
    padding-bottom: 1.11111rem;
    padding-top: 3.33333rem;
    text-align: left;
    width: 100%;
    .footer-site-logo {
      margin: 30px auto 0;
      text-align: center;
      p {
        color: rgba(232, 230, 229, .5);
      }
      img {
        width: 250px;
      }
    }
    .footer-site-contact {
      margin-bottom: 140px;
      div {
        width: 33.3333%;
        height: 20px;
        background: transparent;
        float: left;
        p {
          color: rgba(232, 230, 229, .5);
          text-align: center;
          line-height: 22px;
        }
        a {
          display: inline-block;
          color: rgba(232, 230, 229, .5);
          //display: none;
          font-weight: 400;
          font-family: 'Relative Medium', Arial, sans-serif;
          font-size: 20px;
          text-decoration: none;
        }
      }
      .footer-site-contact-email {
        a {
          margin-left: 50px;
          margin-top: 45px;
        }
        a:hover {
          color: #ff3750;
          text-decoration: underline;
        }
      }
      .footer-site-contact-social {
        display: flex;
        justify-content: center;
        div {
          width: 300px;
          display: flex;
          justify-content: space-around;
          a {
            float: left;
            font: {
              size: 25px;
            }
          }
          a:hover {
            color: #ff3750;
          }
        }

      }
      .footer-site-contact-phone {
        div {
          margin-right: 50px;
          float: right;
          width: auto;
          b {
            color: rgba(232, 230, 229, 0.5);
            margin-top: 45px;
            display: inline-block;
            font-size: 20px;
            margin-right: 5px;
          }
          a {
            float: right;
            text-align: left;
            width: 250px;
            //margin: 8px 0;
            margin-top: 45px;
          }
          a:hover {
            color: #ff3750;
            text-decoration: underline;
          }
        }
      }
    }
    .footer-site-license {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-bottom: 40px;
      div {
        display: flex;
        width: 600px;
        justify-content: space-around;
        p, a {
          float: left;
          font-size: 12px;
          font-family: 'Relative Medium', Arial, sans-serif;
          color: rgba(232, 230, 229, .5);
          text-align: center;
          margin: 0;
          text-decoration: none;
        }
        a:first-child::after {
          border-left: 1px solid rgba(232, 230, 229, .5);
        }

        //test
        .test {
          width: auto;
          .test_button {
            border: none;
            background: transparent;

          }
          ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #333;
          }

          li {
            float: left;
          }

          li a, .dropbtn {
            display: inline-block;
            color: white;
            text-align: center;
            //padding: 14px 16px;
            text-decoration: none;
          }

          li a:hover, .dropdown:hover .dropbtn {
            background-color: #ff3750;
          }

          li.dropdown {
            display: inline-block;
          }

          .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            //min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: 1;
          }

          .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            text-align: left;
          }

          .dropdown-content a:hover {
            background-color: #f1f1f1
          }

          .dropdown:hover .dropdown-content {
            display: block;
          }

        }
        ///test

      }

    }
    .footer-site-bottom {
      text-align: center;
      font-size: 12px;
      font-family: 'Relative Medium', Arial, sans-serif;
      color: rgba(232, 230, 229, .5);
      margin-bottom: 40px;
    }
  }

}

::-webkit-scrollbar {
  width: 0px;
}

//media
@media (min-width: 1500px) {
  body {
    header {
      .header-site-content-media-menu {
        display: none;
      }
    }
    .content {
      .content-container-main {
        .content-container-main-content {
          div {
            div#anchor {
              a {
                left: 50%;
                margin-left: -20px;
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 1200px) and (max-width: 1499px) {
  body {
    header {
      .header-site-content-media-menu {
        display: none;
      }
    }
    .content {
      .content-container-main {
        .content-container-main-content {
          div {
            div#anchor {
              a {
                left: 50%;
                margin-left: -20px;
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  body {
    header {
      .header-site-content-media-menu {
        display: none;
      }
    }
    .content {
      .content-container-main {
        .content-container-main-content {
          div {
            div#anchor {
              a {
                left: 50%;
                margin-left: -20px;
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  body {

    header {

      .header-site-content {
        .header-site-content-logo {
          .main-title {
            font-size: 75px !important;
          }
        }
        .header-site-content-media-menu {
          display: block;
          button {
            font-size: 55px !important;
          }

        }
        .header-site-content-menu {
          display: none;
        }
      }

    }

    footer {
      //width: 730px !important;
      .footer-site-contact {
        .footer-site-contact-phone {
          div {
            margin-right: 0 !important;
          }
        }
      }
    }
    .content {
      .content-container-main {
        .content-container-main-content {
          div {
            div#anchor {
              h1 {
                font-size: 55px;
              }
              a {
                left: 50%;
                margin-left: -20px;
                margin-top: 0;
              }
            }
          }
        }
      }

      article {
        width: 730px !important;
        margin: 0 auto;
        div {
          width: 730px !important;
          div {
            right: initial !important;
            h1, p {
              margin: 0 auto;
            }
            p {
              font-size: 18px !important;
            }
            h1 {
              font-size: 45px;
              top: -40% !important;
            }
          }

        }
        #last_section {
          h1 {
            top: -40% !important;
          }
        }
      }

    }
  }
}

@media (min-width: 540px) and (max-width: 768px) {
  body {
    .menu {
      .menu-close {
        //margin-top: 0px !important;
        //margin-right: -2px !important;
      }
      ul {

        li {
          a {
            font-size: 48px !important;
          }
        }

      }
    }
    header {
      .header-site-content {
        .header-site-content-logo {
          .main-title {
            font-size: 50px !important;
          }
        }
        .header-site-content-media-menu {
          display: block;
          button {
            font-size: 45px !important;
          }

        }
        .header-site-content-menu {
          display: none;
        }
      }
    }

    footer {
      .footer-site-contact {
        width: 100% !important;
        float: none;
        display: flex;
        flex-direction: column;
        align-content: center;
        margin-bottom: 70px !important;
        div {
          margin: 20px auto;
        }
        .footer-site-contact-email {
          margin: 0 auto;
          text-align: center;
          a {
            margin-top: 0 !important;
            margin-left: 0 !important;

          }

        }
        .footer-site-contact-phone {
          width: 42% !important;
          float: none;
          div {
            margin-right: 0 !important;
            float: none !important;
            display: flex;
            justify-content: center;
            a {
              text-align: center !important;
              float: none !important;
            }
          }
        }
      }
    }
    .content {
      .content-container-main {
        .content-container-main-content {
          div {
            div#anchor {
              h1 {
                font-size: 45px;
              }
              a {
                left: 50%;
                margin-left: -20px;
                margin-top: 0;
              }
            }
          }
        }
      }
      .content-container {
        article {
          width: 530px !important;
          margin: 0 auto;
          div.content-container-block {
            width: 530px !important;
            div {
              right: initial !important;
              width: 530px !important;
              h1, p {
                margin: 0 auto;
              }
              p {
                font-size: 17px !important;
                margin-bottom: 20px;
              }
              h1 {
                font-size: 30px;
              }
            }

          }
        }
      }
    }
  }

}

@media (max-width: 540px) {
  body {
    .menu {
      .menu-close {
        position: absolute !important;
        font-size: 30px !important;
        right: 0 !important;
        float: right !important;
      }
      ul {

        li {
          a {
            font-size: 40px !important;
          }
        }

      }
    }
    header {
      background: rgba(0, 0, 0, 0.58) !important;
      .header-site-content {
        .header-site-content-logo {
          .main-title {
            font-size: 50px !important;
          }
          img {
            width: 200px !important;
            position: absolute;
            left: 50%;
            margin-left: -100px;
            margin-top: 0 !important;
          }
        }
        .header-site-content-media-menu {
          position: absolute !important;
          right: 0 !important;
          float: right !important;
          margin-top: 0 !important;
          margin-right: 0 !important;
          button {
            margin-top: 15px !important;
            font-size: 35px !important;
          }

        }
        .header-site-content-menu {
          display: none;
        }
      }
    }
    footer {
      padding-top: 10px !important;

      .footer-site-contact {
        width: 100% !important;
        float: none;
        display: flex;
        flex-direction: column;
        align-content: center;
        margin-bottom: 70px !important;
        div {
          margin: 20px auto;
        }
      }
      .footer-site-license {
        margin-bottom: 0 !important;
        div {
          flex-direction: column;
          a {
            margin: 15px auto !important;
          }
        }
      }

      .footer-site-bottom {
        margin-bottom: 10px !important;
      }
    }
    .content {
      .content-container-main {
        .content-container-main-content {
          div {
            div#anchor {
              h1 {
                font-size: 35px;
              }
              a {
                left: 50%;
                margin-left: -20px;
                margin-top: 0;
              }
            }
          }
        }
      }
      .content-container {
        .content-container-background {
          background-attachment: scroll;
        }
        article {
          width: 300px !important;
          margin: 0 auto;
          div.content-container-block {
            width: 300px !important;
            position: static;
            div {
              right: initial !important;
              width: 300px !important;
              position: absolute;
              position: absolute;
              h1, p {
                margin: 0 auto;
              }
              p {
                font-size: 17px !important;
                margin-bottom: 20px;
              }
              h1 {
                font-size: 30px;
                top: -60%;
              }
            }

          }
        }
      }
    }
  }
}