.main-title {
  color: #fff;
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 2rem;
  margin-top: 2rem;
  font-family: 'Relative Bold', Arial, sans-serif;
  font-weight: 400;
  text-decoration: none; }

.main-link {
  text-decoration: none;
  text-overflow: ellipsis;
  font-weight: 400;
  font-family: 'Relative Medium', Arial, sans-serif;
  font-size: 25px;
  border-bottom: 0px solid #ffffff;
  color: white;
  margin-left: -20px;
  white-space: nowrap;
  cursor: pointer; }

.animated::before {
  background-color: #fff;
  bottom: -.55556rem;
  content: '';
  height: 3px;
  left: -20px;
  margin: auto;
  position: absolute;
  right: 0;
  transition: .2s ease-in-out;
  width: 0; }

.animated:hover::before {
  transition: .2s ease-in-out;
  width: 64px; }

body {
  margin: 0;
  background: white;
  box-sizing: inherit; }
  body .menu {
    height: 100vh;
    width: 100%;
    z-index: 99999;
    position: fixed;
    background: rgba(0, 0, 0, 0.8);
    overflow: hidden;
    display: none; }
    body .menu .menu-close {
      border: none;
      background: transparent;
      font-size: 65px;
      float: right;
      position: absolute;
      right: 1%; }
      body .menu .menu-close svg {
        color: white; }
    body .menu ul {
      list-style-type: none;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: stretch;
      height: 100vh; }
      body .menu ul li {
        text-align: center; }
        body .menu ul li a {
          font-size: 60px; }
  body .active {
    display: block; }
  body .header-site {
    height: 86px;
    width: 100%;
    position: fixed;
    background: transparent;
    z-index: 10000; }
    body .header-site .header-site-content {
      width: 100%; }
      body .header-site .header-site-content .header-site-content-logo {
        float: left; }
      body .header-site .header-site-content .header-site-content-media-menu {
        border: none;
        background: transparent;
        float: right;
        margin-top: 15px;
        margin-right: 30px; }
        body .header-site .header-site-content .header-site-content-media-menu .header-site-content-media-menu-button {
          border: none;
          background: transparent;
          font-size: 55px; }
          body .header-site .header-site-content .header-site-content-media-menu .header-site-content-media-menu-button svg {
            color: white; }
      body .header-site .header-site-content .header-site-content-menu {
        float: right;
        margin-right: 15px; }
        body .header-site .header-site-content .header-site-content-menu ul li {
          float: left;
          margin-left: 55px;
          display: block;
          margin-top: 15px;
          transition: .3s; }
        body .header-site .header-site-content .header-site-content-menu ul li:hover {
          margin-top: 11px; }
  body .content .content-container-main {
    height: 100vh;
    overflow: hidden;
    position: relative; }
    body .content .content-container-main video {
      height: 100%;
      left: 0;
      object-fit: cover;
      object-position: top center;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 0; }
    body .content .content-container-main .content-container-main-background {
      height: 100vh;
      width: 100%;
      position: absolute;
      background: rgba(0, 0, 0, 0.5);
      z-index: 1; }
    body .content .content-container-main .content-container-main-content {
      display: table;
      height: 100%;
      margin-bottom: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 2; }
      body .content .content-container-main .content-container-main-content div {
        display: table-cell;
        vertical-align: middle; }
        body .content .content-container-main .content-container-main-content div div#anchor {
          margin: 0 auto;
          text-align: center;
          width: 100%;
          display: block; }
          body .content .content-container-main .content-container-main-content div div#anchor a {
            text-decoration: none;
            color: white;
            font-size: 60px;
            position: absolute;
            margin-top: 8%; }
  body .content .content-container {
    height: 100vh;
    width: 100%; }
    body .content .content-container h1 {
      position: absolute;
      top: -85%;
      color: white;
      width: 100%;
      height: 40px; }
    body .content .content-container .content-container-background {
      height: 100vh;
      width: 100%;
      position: absolute; }
      body .content .content-container .content-container-background div {
        height: 100%;
        width: 100%;
        background: rgba(0, 0, 0, 0.5); }
    body .content .content-container .first-section {
      background-image: url("../content/img/forex.jpg");
      background-size: cover !important;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center; }
    body .content .content-container .second-section {
      background-image: url("../content/img/psp.jpg");
      background-size: cover !important;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center; }
    body .content .content-container .third-section {
      background-image: url("../content/img/license.jpg");
      background-size: cover !important;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center; }
    body .content .content-container .fourth-section {
      background-image: url("../content/img/legal-opinions.jpg");
      background-size: cover !important;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center; }
    body .content .content-container .fifth-section {
      background-image: url("../content/img/legal-opinions.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed; }
    body .content .content-container article {
      height: 100vh;
      position: relative; }
      body .content .content-container article .content-container-block {
        bottom: 0;
        clip: rect(0, auto, auto, 0);
        left: 0;
        margin: 0 auto;
        position: absolute;
        right: 0;
        top: 0;
        height: 100vh;
        z-index: 99999;
        overflow: hidden; }
        body .content .content-container article .content-container-block div {
          -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
          bottom: 0;
          display: table;
          margin: auto;
          right: 0;
          text-align: center;
          top: 50%;
          width: 100%;
          position: fixed;
          z-index: 9999; }
          body .content .content-container article .content-container-block div p {
            color: white;
            text-align: center;
            margin: 50px auto;
            font-family: "Roboto", sans-serif;
            font-size: 20px;
            word-spacing: 6px; }
          body .content .content-container article .content-container-block div a {
            padding: 5px;
            border: 2px solid #ffffff; }
      body .content .content-container article .fourth {
        position: static; }
        body .content .content-container article .fourth div {
          position: absolute; }
  body .footer-site {
    height: auto;
    z-index: 100;
    background: #303030;
    box-sizing: border-box;
    color: #e5ddd9;
    padding-bottom: 1.11111rem;
    padding-top: 3.33333rem;
    text-align: left;
    width: 100%; }
    body .footer-site .footer-site-logo {
      margin: 30px auto 0;
      text-align: center; }
      body .footer-site .footer-site-logo p {
        color: rgba(232, 230, 229, 0.5); }
    body .footer-site .footer-site-contact {
      margin-bottom: 140px; }
      body .footer-site .footer-site-contact div {
        width: 33.3333%;
        height: 20px;
        background: transparent;
        float: left; }
        body .footer-site .footer-site-contact div p {
          color: rgba(232, 230, 229, 0.5);
          text-align: center;
          line-height: 22px; }
        body .footer-site .footer-site-contact div a {
          display: inline-block;
          color: rgba(232, 230, 229, 0.5);
          font-weight: 400;
          font-family: 'Relative Medium', Arial, sans-serif;
          font-size: 20px;
          text-decoration: none; }
      body .footer-site .footer-site-contact .footer-site-contact-email a {
        margin-left: 50px;
        margin-top: 45px; }
      body .footer-site .footer-site-contact .footer-site-contact-email a:hover {
        color: #ff3750;
        text-decoration: underline; }
      body .footer-site .footer-site-contact .footer-site-contact-social {
        display: flex;
        justify-content: center; }
        body .footer-site .footer-site-contact .footer-site-contact-social div {
          width: 300px;
          display: flex;
          justify-content: space-around; }
          body .footer-site .footer-site-contact .footer-site-contact-social div a {
            float: left;
            font-size: 25px; }
          body .footer-site .footer-site-contact .footer-site-contact-social div a:hover {
            color: #ff3750; }
      body .footer-site .footer-site-contact .footer-site-contact-phone div {
        margin-right: 50px;
        float: right;
        width: auto; }
        body .footer-site .footer-site-contact .footer-site-contact-phone div b {
          color: rgba(232, 230, 229, 0.5);
          margin-top: 45px;
          display: inline-block;
          font-size: 20px;
          margin-right: 5px; }
        body .footer-site .footer-site-contact .footer-site-contact-phone div a {
          float: right;
          text-align: left;
          width: 250px;
          margin-top: 45px; }
        body .footer-site .footer-site-contact .footer-site-contact-phone div a:hover {
          color: #ff3750;
          text-decoration: underline; }
    body .footer-site .footer-site-license {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-bottom: 40px; }
      body .footer-site .footer-site-license div {
        display: flex;
        width: 600px;
        justify-content: space-around; }
        body .footer-site .footer-site-license div p, body .footer-site .footer-site-license div a {
          float: left;
          font-size: 12px;
          font-family: 'Relative Medium', Arial, sans-serif;
          color: rgba(232, 230, 229, 0.5);
          text-align: center;
          margin: 0;
          text-decoration: none; }
        body .footer-site .footer-site-license div a:first-child::after {
          border-left: 1px solid rgba(232, 230, 229, 0.5); }
        body .footer-site .footer-site-license div .test {
          width: auto; }
          body .footer-site .footer-site-license div .test .test_button {
            border: none;
            background: transparent; }
          body .footer-site .footer-site-license div .test ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #333; }
          body .footer-site .footer-site-license div .test li {
            float: left; }
          body .footer-site .footer-site-license div .test li a, body .footer-site .footer-site-license div .test .dropbtn {
            display: inline-block;
            color: white;
            text-align: center;
            text-decoration: none; }
          body .footer-site .footer-site-license div .test li a:hover, body .footer-site .footer-site-license div .test .dropdown:hover .dropbtn {
            background-color: #ff3750; }
          body .footer-site .footer-site-license div .test li.dropdown {
            display: inline-block; }
          body .footer-site .footer-site-license div .test .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: 1; }
          body .footer-site .footer-site-license div .test .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            text-align: left; }
          body .footer-site .footer-site-license div .test .dropdown-content a:hover {
            background-color: #f1f1f1; }
          body .footer-site .footer-site-license div .test .dropdown:hover .dropdown-content {
            display: block; }
    body .footer-site .footer-site-bottom {
      text-align: center;
      font-size: 12px;
      font-family: 'Relative Medium', Arial, sans-serif;
      color: rgba(232, 230, 229, 0.5);
      margin-bottom: 40px; }

::-webkit-scrollbar {
  width: 0px; }

@media (min-width: 1500px) {
  body header .header-site-content-media-menu {
    display: none; }
  body .content .content-container-main .content-container-main-content div div#anchor a {
    left: 50%;
    margin-left: -20px; } }
@media (min-width: 1200px) and (max-width: 1499px) {
  body header .header-site-content-media-menu {
    display: none; }
  body .content .content-container-main .content-container-main-content div div#anchor a {
    left: 50%;
    margin-left: -20px; } }
@media (min-width: 992px) and (max-width: 1200px) {
  body header .header-site-content-media-menu {
    display: none; }
  body .content .content-container-main .content-container-main-content div div#anchor a {
    left: 50%;
    margin-left: -20px; } }
@media (min-width: 768px) and (max-width: 992px) {
  body header .header-site-content .header-site-content-logo .main-title {
    font-size: 75px !important; }
  body header .header-site-content .header-site-content-media-menu {
    display: block; }
    body header .header-site-content .header-site-content-media-menu button {
      font-size: 55px !important; }
  body header .header-site-content .header-site-content-menu {
    display: none; }
  body footer .footer-site-contact .footer-site-contact-phone div {
    margin-right: 0 !important; }
  body .content .content-container-main .content-container-main-content div div#anchor h1 {
    font-size: 55px; }
  body .content .content-container-main .content-container-main-content div div#anchor a {
    left: 50%;
    margin-left: -20px;
    margin-top: 0; }
  body .content article {
    width: 730px !important;
    margin: 0 auto; }
    body .content article div {
      width: 730px !important; }
      body .content article div div {
        right: initial !important; }
        body .content article div div h1, body .content article div div p {
          margin: 0 auto; }
        body .content article div div p {
          font-size: 18px !important; }
        body .content article div div h1 {
          font-size: 45px;
          top: -75% !important; }
    body .content article #last_section h1 {
      top: -64% !important; } }
@media (min-width: 540px) and (max-width: 768px) {
  body header .header-site-content .header-site-content-logo .main-title {
    font-size: 50px !important; }
  body header .header-site-content .header-site-content-media-menu {
    display: block; }
    body header .header-site-content .header-site-content-media-menu button {
      font-size: 45px !important; }
  body header .header-site-content .header-site-content-menu {
    display: none; }
  body footer .footer-site-contact {
    width: 100% !important;
    float: none;
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-bottom: 70px !important; }
    body footer .footer-site-contact div {
      margin: 20px auto; }
    body footer .footer-site-contact .footer-site-contact-email {
      margin: 0 auto;
      text-align: center; }
      body footer .footer-site-contact .footer-site-contact-email a {
        margin-top: 0 !important;
        margin-left: 0 !important; }
    body footer .footer-site-contact .footer-site-contact-phone {
      width: 42% !important;
      float: none; }
      body footer .footer-site-contact .footer-site-contact-phone div {
        margin-right: 0 !important;
        float: none !important;
        display: flex;
        justify-content: center; }
        body footer .footer-site-contact .footer-site-contact-phone div a {
          text-align: center !important;
          float: none !important; }
  body .content .content-container-main .content-container-main-content div div#anchor h1 {
    font-size: 45px; }
  body .content .content-container-main .content-container-main-content div div#anchor a {
    left: 50%;
    margin-left: -20px;
    margin-top: 0; }
  body .content .content-container article {
    width: 530px !important;
    margin: 0 auto; }
    body .content .content-container article div.content-container-block {
      width: 530px !important; }
      body .content .content-container article div.content-container-block div {
        right: initial !important;
        width: 530px !important; }
        body .content .content-container article div.content-container-block div h1, body .content .content-container article div.content-container-block div p {
          margin: 0 auto; }
        body .content .content-container article div.content-container-block div p {
          font-size: 17px !important;
          margin-bottom: 20px; }
        body .content .content-container article div.content-container-block div h1 {
          font-size: 30px; } }
@media (max-width: 540px) {
  body header .menu .menu-close {
    margin-top: 0px !important;
    margin-right: -2px !important; }
  body header .header-site-content .header-site-content-logo .main-title {
    font-size: 50px !important; }
  body header .header-site-content .header-site-content-media-menu {
    margin-right: 2px !important;
    margin-top: 2px !important;
    display: block; }
    body header .header-site-content .header-site-content-media-menu button {
      font-size: 45px !important; }
  body header .header-site-content .header-site-content-menu {
    display: none; }
  body footer .footer-site-contact {
    width: 100% !important;
    float: none;
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-bottom: 70px !important; }
    body footer .footer-site-contact div {
      margin: 20px auto; }
    body footer .footer-site-contact .footer-site-contact-email {
      width: 42% !important;
      margin: 0 auto;
      text-align: center; }
      body footer .footer-site-contact .footer-site-contact-email a {
        margin-top: 0 !important;
        margin-left: 0 !important; }
    body footer .footer-site-contact .footer-site-contact-social {
      margin-top: 0;
      margin-bottom: 65px; }
    body footer .footer-site-contact .footer-site-contact-phone {
      width: 42% !important;
      float: none;
      margin-bottom: 55px; }
      body footer .footer-site-contact .footer-site-contact-phone div {
        margin-right: 0 !important;
        float: none !important;
        display: flex;
        justify-content: center; }
        body footer .footer-site-contact .footer-site-contact-phone div a {
          text-align: center !important;
          float: none !important; }
  body footer .footer-site-bottom {
    margin-bottom: 0; }
  body .content .content-container-main .content-container-main-content div div#anchor h1 {
    font-size: 35px; }
  body .content .content-container-main .content-container-main-content div div#anchor a {
    left: 50%;
    margin-left: -20px;
    margin-top: 0; }
  body .content .content-container article {
    width: 300px !important;
    margin: 0 auto; }
    body .content .content-container article div.content-container-block {
      width: 300px !important; }
      body .content .content-container article div.content-container-block div {
        right: initial !important;
        width: 300px !important; }
        body .content .content-container article div.content-container-block div h1, body .content .content-container article div.content-container-block div p {
          margin: 0 auto; }
        body .content .content-container article div.content-container-block div p {
          font-size: 17px !important;
          margin-bottom: 20px; }
        body .content .content-container article div.content-container-block div h1 {
          font-size: 30px; } }

/*# sourceMappingURL=main.css.map */
