.main-title {
  color: #303030;
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 2rem;
  margin-top: 2rem;
  font-family: 'Relative Bold', Arial, sans-serif;
  font-weight: 400;
  text-decoration: none; }

.main-link {
  text-decoration: none;
  text-overflow: ellipsis;
  font-weight: 400;
  font-family: 'Relative Medium', Arial, sans-serif;
  font-size: 25px;
  border-bottom: 0px solid #ffffff;
  color: #303030;
  margin-left: -20px;
  white-space: nowrap;
  cursor: pointer; }

.animated::before {
  background-color: #fff;
  bottom: -.55556rem;
  content: '';
  height: 3px;
  left: -20px;
  margin: auto;
  position: absolute;
  right: 0;
  transition: .2s ease-in-out;
  width: 0; }

.animated:hover::before {
  transition: .2s ease-in-out;
  width: 64px; }

body {
  margin: 0;
  background: white;
  box-sizing: inherit; }
  body .menu {
    height: 100vh;
    width: 100%;
    z-index: 999999;
    position: fixed;
    background: rgba(0, 0, 0, 0.8);
    overflow: hidden;
    display: none; }
    body .menu .menu-close {
      border: none;
      background: transparent;
      font-size: 65px;
      float: right;
      position: absolute;
      right: 1%;
      z-index: 99999999; }
      body .menu .menu-close svg {
        color: white; }
    body .menu ul {
      list-style-type: none;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: stretch;
      height: 100vh; }
      body .menu ul li {
        text-align: center; }
        body .menu ul li a {
          font-size: 60px;
          color: white; }
  body .active {
    display: block; }
  body .header-site {
    height: 86px;
    width: 100%;
    position: fixed;
    background: transparent;
    z-index: 10000; }
    body .header-site .header-site-content .header-site-content-logo {
      float: left;
      width: 250px; }
      body .header-site .header-site-content .header-site-content-logo img {
        width: 250px;
        margin-top: 15px; }
    body .header-site .header-site-content .header-site-content-media-menu {
      border: none;
      background: transparent;
      float: right;
      margin-top: 15px;
      margin-right: 30px; }
      body .header-site .header-site-content .header-site-content-media-menu .header-site-content-media-menu-button {
        border: none;
        background: transparent;
        font-size: 55px; }
        body .header-site .header-site-content .header-site-content-media-menu .header-site-content-media-menu-button svg {
          color: #303030; }
    body .header-site .header-site-content .header-site-content-menu {
      float: right;
      margin-right: 15px; }
      body .header-site .header-site-content .header-site-content-menu ul li {
        float: left;
        margin-left: 55px;
        display: block;
        margin-top: 15px;
        transition: .3s; }
      body .header-site .header-site-content .header-site-content-menu ul li:hover {
        margin-top: 11px; }
  body .content .content-container {
    height: 70vh;
    width: 100%;
    background: white; }
  body .content .head div#anchor {
    position: absolute;
    top: 25%;
    left: 25%;
    width: 740px; }
    body .content .head div#anchor h1 {
      color: #303030;
      position: absolute;
      font-size: 90px;
      font-weight: 600; }
    body .content .head div#anchor a {
      text-decoration: none;
      color: #303030;
      font-size: 60px;
      position: absolute;
      padding-top: 150px; }
  body .content .background {
    background-image: url("../content/img/psp.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; }
  body .content .about {
    height: auto; }
    body .content .about div {
      width: 1000px;
      margin: 0 auto; }
      body .content .about div p, body .content .about div strong {
        font-size: 16px;
        font-family: 'Relative Bold', Arial, sans-serif;
        word-spacing: 5px;
        line-height: 20px;
        color: #303030; }
      body .content .about div strong {
        text-align: center; }
      body .content .about div .accordion {
        background-color: transparent;
        color: #303030;
        cursor: pointer;
        padding: 18px;
        width: 1000px;
        margin: 30px auto;
        border: none;
        text-align: left;
        outline: none;
        transition: 0.6s;
        border-bottom: 2px solid #303030;
        padding-bottom: 7px;
        font-size: 25px;
        line-height: 1.2;
        font-family: 'Relative Bold', Arial, sans-serif;
        font-weight: 400; }
      body .content .about div .active, body .content .about div .accordion:hover {
        border-bottom: 2px solid #ff3750;
        color: #ff3750;
        font-size: 28px; }
      body .content .about div .panel {
        padding: 0 18px;
        background-color: white;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s ease-out; }
  body .content .about > div {
    margin: 70px auto; }
  body .footer-site {
    height: auto;
    z-index: 100;
    background: #303030;
    box-sizing: border-box;
    color: #e5ddd9;
    padding-bottom: 1.11111rem;
    padding-top: 3.33333rem;
    text-align: left;
    width: 100%; }
    body .footer-site .footer-site-logo {
      margin: 30px auto 0;
      text-align: center; }
      body .footer-site .footer-site-logo p {
        color: rgba(232, 230, 229, 0.5); }
      body .footer-site .footer-site-logo img {
        width: 250px; }
    body .footer-site .footer-site-contact {
      margin-bottom: 140px; }
      body .footer-site .footer-site-contact div {
        width: 33.3333%;
        height: 20px;
        background: transparent;
        float: left; }
        body .footer-site .footer-site-contact div p {
          color: rgba(232, 230, 229, 0.5);
          text-align: center;
          line-height: 22px; }
        body .footer-site .footer-site-contact div a {
          display: inline-block;
          color: rgba(232, 230, 229, 0.5);
          font-weight: 400;
          font-family: 'Relative Medium', Arial, sans-serif;
          font-size: 20px;
          text-decoration: none; }
      body .footer-site .footer-site-contact .footer-site-contact-email a {
        margin-left: 50px;
        margin-top: 45px; }
      body .footer-site .footer-site-contact .footer-site-contact-email a:hover {
        color: #ff3750;
        text-decoration: underline; }
      body .footer-site .footer-site-contact .footer-site-contact-social {
        display: flex;
        justify-content: center; }
        body .footer-site .footer-site-contact .footer-site-contact-social div {
          width: 300px;
          display: flex;
          justify-content: space-around; }
          body .footer-site .footer-site-contact .footer-site-contact-social div a {
            float: left;
            font-size: 25px; }
          body .footer-site .footer-site-contact .footer-site-contact-social div a:hover {
            color: #ff3750; }
      body .footer-site .footer-site-contact .footer-site-contact-phone div {
        margin-right: 50px;
        float: right;
        width: auto; }
        body .footer-site .footer-site-contact .footer-site-contact-phone div a {
          float: right;
          text-align: left;
          width: 250px;
          margin-top: 45px; }
        body .footer-site .footer-site-contact .footer-site-contact-phone div a:hover {
          color: #ff3750;
          text-decoration: underline; }
    body .footer-site .footer-site-license {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-bottom: 40px; }
      body .footer-site .footer-site-license div {
        display: flex;
        width: 600px;
        justify-content: space-around; }
        body .footer-site .footer-site-license div p, body .footer-site .footer-site-license div a {
          float: left;
          font-size: 14px;
          font-family: 'Relative Medium', Arial, sans-serif;
          color: rgba(232, 230, 229, 0.5);
          text-align: center;
          margin: 0;
          text-decoration: none; }
        body .footer-site .footer-site-license div a:first-child::after {
          border-left: 1px solid rgba(232, 230, 229, 0.5); }
    body .footer-site .footer-site-bottom {
      text-align: center;
      font-size: 14px;
      font-family: 'Relative Medium', Arial, sans-serif;
      color: rgba(232, 230, 229, 0.5);
      margin-bottom: 40px; }

::-webkit-scrollbar {
  width: 0px; }

@media (min-width: 1500px) {
  body header .header-site-content-media-menu {
    display: none; } }
@media (min-width: 1200px) and (max-width: 1499px) {
  body header .header-site-content-media-menu {
    display: none; } }
@media (min-width: 992px) and (max-width: 1199px) {
  body header .header-site-content-media-menu {
    display: none; }
  body .content .about div {
    width: 900px !important; }
    body .content .about div .accordion {
      width: 900px !important; }
    body .content .about div .panel {
      width: 900px !important; }
      body .content .about div .panel p {
        width: 900px !important; } }
@media (min-width: 768px) and (max-width: 992px) {
  body header .header-site-content .header-site-content-logo .main-title {
    font-size: 75px !important; }
  body header .header-site-content .header-site-content-media-menu {
    display: block; }
    body header .header-site-content .header-site-content-media-menu button {
      font-size: 55px !important; }
  body header .header-site-content .header-site-content-menu {
    display: none; }
  body .content .head #anchor {
    width: 550px !important; }
    body .content .head #anchor h1 {
      font-size: 70px !important; }
  body .content .about div {
    margin: 70px auto;
    width: 730px !important; }
    body .content .about div .accordion {
      width: 730px !important; }
    body .content .about div .panel {
      box-sizing: border-box;
      width: 730px !important; }
      body .content .about div .panel p {
        width: 730px !important; }
  body footer .footer-site-contact .footer-site-contact-phone div {
    margin-right: 0 !important; } }
@media (min-width: 540px) and (max-width: 768px) {
  body header .header-site-content .header-site-content-logo .main-title {
    font-size: 50px !important; }
  body header .header-site-content .header-site-content-media-menu {
    display: block; }
    body header .header-site-content .header-site-content-media-menu button {
      font-size: 45px !important; }
  body header .header-site-content .header-site-content-menu {
    display: none; }
  body .content .head #anchor {
    width: auto !important; }
    body .content .head #anchor h1 {
      font-size: 50px !important; }
  body .content .about div {
    margin: 70px auto;
    width: 530px !important; }
    body .content .about div .accordion {
      width: 530px !important; }
    body .content .about div .panel {
      box-sizing: border-box;
      width: 530px !important; }
      body .content .about div .panel p {
        width: 530px !important; }
  body footer .footer-site-contact {
    width: 100% !important;
    float: none;
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-bottom: 70px !important; }
    body footer .footer-site-contact div {
      margin: 20px auto; }
    body footer .footer-site-contact .footer-site-contact-email {
      margin: 0 auto;
      text-align: center; }
      body footer .footer-site-contact .footer-site-contact-email a {
        margin-top: 0 !important;
        margin-left: 0 !important; }
    body footer .footer-site-contact .footer-site-contact-phone {
      width: 42% !important;
      float: none; }
      body footer .footer-site-contact .footer-site-contact-phone div {
        margin-right: 0 !important;
        float: none !important;
        display: flex;
        justify-content: center; }
        body footer .footer-site-contact .footer-site-contact-phone div a {
          text-align: center !important;
          float: none !important; } }
@media (max-width: 540px) {
  body header .menu .menu-close {
    margin-top: 0px !important;
    margin-right: -2px !important; }
  body header .header-site-content .header-site-content-logo .main-title {
    font-size: 50px !important; }
  body header .header-site-content .header-site-content-media-menu {
    margin-right: 2px !important;
    margin-top: 2px !important;
    display: block; }
    body header .header-site-content .header-site-content-media-menu button {
      font-size: 45px !important; }
  body header .header-site-content .header-site-content-menu {
    display: none; }
  body .content .head #anchor {
    width: auto !important;
    top: 20% !important; }
    body .content .head #anchor h1 {
      font-size: 50px !important; }
    body .content .head #anchor a {
      padding-top: 190px !important; }
  body .content .about div {
    margin: 70px auto;
    width: 300px !important; }
    body .content .about div .accordion {
      width: 300px !important; }
    body .content .about div .panel {
      box-sizing: border-box;
      width: 300px !important; }
      body .content .about div .panel p {
        width: 300px !important; }
  body footer .footer-site-contact {
    width: 100% !important;
    float: none;
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-bottom: 70px !important; }
    body footer .footer-site-contact div {
      margin: 20px auto; }
    body footer .footer-site-contact .footer-site-contact-email {
      width: 42% !important;
      margin: 0 auto;
      text-align: center; }
      body footer .footer-site-contact .footer-site-contact-email a {
        margin-top: 0 !important;
        margin-left: 0 !important; }
    body footer .footer-site-contact .footer-site-contact-social {
      margin-top: 0;
      margin-bottom: 65px; }
    body footer .footer-site-contact .footer-site-contact-phone {
      width: 42% !important;
      float: none;
      margin-bottom: 55px; }
      body footer .footer-site-contact .footer-site-contact-phone div {
        margin-right: 0 !important;
        float: none !important;
        display: flex;
        justify-content: center; }
        body footer .footer-site-contact .footer-site-contact-phone div a {
          text-align: center !important;
          float: none !important; }
  body footer .footer-site-bottom {
    margin-bottom: 0; } }

/*# sourceMappingURL=psp.css.map */
