.main-title {
  color: #fff;
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 2rem;
  margin-top: 2rem;
  font-family: 'Relative Bold', Arial, sans-serif;
  font-weight: 400; }

.main-link {
  text-decoration: none;
  text-overflow: ellipsis;
  font-weight: 400;
  font-family: 'Relative Medium', Arial, sans-serif;
  font-size: 25px;
  border-bottom: 0px solid #ffffff;
  color: white;
  margin-left: -20px;
  white-space: nowrap;
  cursor: pointer; }

.animated::before {
  background-color: #fff;
  bottom: -.55556rem;
  content: '';
  height: 3px;
  left: -20px;
  margin: auto;
  position: absolute;
  right: 0;
  transition: .2s ease-in-out;
  width: 0; }

.animated:hover::before {
  transition: .2s ease-in-out;
  width: 64px; }

body {
  margin: 0;
  background: white;
  box-sizing: inherit; }
  body .header-site {
    height: 86px;
    width: 100%;
    position: fixed;
    background: transparent;
    z-index: 10000000; }
    body .header-site .header-site-content .header-site-content-logo {
      float: left; }
    body .header-site .header-site-content .header-site-content-menu {
      float: right;
      margin-right: 15px; }
      body .header-site .header-site-content .header-site-content-menu ul li {
        float: left;
        margin-left: 35px;
        display: block;
        margin-top: 15px;
        transition: .3s; }
      body .header-site .header-site-content .header-site-content-menu ul li:hover {
        margin-top: 11px; }
  body .content .content-container-main {
    height: 100vh;
    overflow: hidden;
    position: relative; }
    body .content .content-container-main video {
      height: 100%;
      left: 0;
      object-fit: cover;
      object-position: top center;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 0; }
    body .content .content-container-main .content-container-main-background {
      height: 100vh;
      width: 100%;
      position: absolute;
      background: rgba(0, 0, 0, 0.5);
      z-index: 1; }
    body .content .content-container-main .content-container-main-content {
      display: table;
      height: 100%;
      margin-bottom: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 2; }
      body .content .content-container-main .content-container-main-content div {
        display: table-cell;
        vertical-align: middle; }
        body .content .content-container-main .content-container-main-content div div {
          margin: 0 auto;
          max-width: 970px;
          text-align: center;
          width: 100%;
          display: block; }
  body .content .content-container {
    height: 100vh;
    width: 100%; }
    body .content .content-container h1 {
      position: absolute;
      top: -110%;
      color: white;
      width: 100%;
      height: 40px; }
    body .content .content-container .content-container-background {
      height: 100vh;
      width: 100%;
      position: absolute; }
      body .content .content-container .content-container-background div {
        height: 100%;
        width: 100%;
        background: rgba(0, 0, 0, 0.5); }
    body .content .content-container .first-section {
      background-image: url("../content/img/forex.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed; }
    body .content .content-container .second-section {
      background-image: url("../content/img/psp.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed; }
    body .content .content-container .third-section {
      background-image: url("../content/img/banks.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed; }
    body .content .content-container .fourth-section {
      background-image: url("../content/img/legal-opinions.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed; }
    body .content .content-container .fifth-section {
      background-image: url("../content/img/legal-opinions.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed; }
    body .content .content-container article {
      height: 100vh;
      overflow: hidden;
      position: relative; }
      body .content .content-container article .content-container-block {
        bottom: 0;
        clip: rect(0, auto, auto, 0);
        left: 0;
        margin: 0 auto;
        position: absolute;
        right: 0;
        top: 0;
        height: 100vh;
        width: 100%;
        z-index: 99999;
        overflow: hidden; }
        body .content .content-container article .content-container-block div {
          -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
          bottom: 0;
          display: table;
          margin: auto;
          right: 0;
          text-align: center;
          top: 140px;
          width: 100%;
          position: fixed;
          z-index: 9999; }
          body .content .content-container article .content-container-block div p {
            max-width: 700px;
            color: white;
            text-align: center;
            margin: 50px auto;
            font-family: 'Relative Medium', Arial, sans-serif;
            font-size: 16px; }
      body .content .content-container article .fourth {
        position: static; }
        body .content .content-container article .fourth div {
          position: absolute; }
  body .footer-site {
    height: auto;
    z-index: 100;
    background: #303030;
    box-sizing: border-box;
    color: #e5ddd9;
    padding-bottom: 1.11111rem;
    padding-top: 3.33333rem;
    text-align: left;
    width: 100%; }
    body .footer-site .footer-site-logo {
      margin: 30px auto 0;
      text-align: center; }
    body .footer-site .footer-site-contact {
      margin-bottom: 100px; }
      body .footer-site .footer-site-contact div {
        width: 33.3333%;
        height: 20px;
        background: transparent;
        float: left; }
        body .footer-site .footer-site-contact div a {
          display: inline-block;
          color: rgba(232, 230, 229, 0.5);
          font-weight: 400;
          font-family: 'Relative Medium', Arial, sans-serif;
          font-size: 20px;
          text-decoration: none; }
      body .footer-site .footer-site-contact .footer-site-contact-email a {
        margin-left: 50px; }
      body .footer-site .footer-site-contact .footer-site-contact-social {
        display: flex;
        justify-content: center; }
        body .footer-site .footer-site-contact .footer-site-contact-social div {
          width: 300px;
          display: flex;
          justify-content: space-around; }
          body .footer-site .footer-site-contact .footer-site-contact-social div a {
            float: left;
            font-size: 25px; }
          body .footer-site .footer-site-contact .footer-site-contact-social div a:hover {
            color: #ff3750; }
      body .footer-site .footer-site-contact .footer-site-contact-phone a {
        margin-right: 50px;
        float: right; }
    body .footer-site .footer-site-license {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-bottom: 40px; }
      body .footer-site .footer-site-license div {
        display: flex;
        width: 600px;
        justify-content: space-around; }
        body .footer-site .footer-site-license div p, body .footer-site .footer-site-license div a {
          float: left;
          font-size: 14px;
          font-family: 'Relative Medium', Arial, sans-serif;
          color: rgba(232, 230, 229, 0.5);
          text-align: center;
          margin: 0;
          text-decoration: none; }
        body .footer-site .footer-site-license div a:first-child::after {
          border-left: 1px solid rgba(232, 230, 229, 0.5); }
    body .footer-site .footer-site-bottom {
      text-align: center;
      font-size: 14px;
      font-family: 'Relative Medium', Arial, sans-serif;
      color: rgba(232, 230, 229, 0.5);
      margin-bottom: 40px; }

/*# sourceMappingURL=style.css.map */
